<h1>Create Your Account</h1>
<h2>&#119136 Pirple rain pirple rain &#119136</h2>

<div class="formWrapper">
  <form id="accountCreate" action="/api/users" method="POST">
    <div class="formError"></div>
    <div class="inputWrapper">
      <div class="inputLabel">First Name</div>
      <input type="text" name="firstName" placeholder="Snorre" />
    </div>
    <div class="inputWrapper">
      <div class="inputLabel">Last Name</div>
      <input type="text" name="lastName" placeholder="Banan" />
    </div>
    <div class="inputWrapper">
      <div class="inputLabel">Email</div>
      <input type="email" name="email" placeholder="yourEmail@example.com" />
    </div>
    <div class="inputWrapper">
      <div class="inputLabel">Choose a Password</div>
      <input type="password" name="password" placeholder="Make it a good one!" />
    </div>
    <div class="inputWrapper">
      <div class="inputLabel">Street Address</div>
      <input type="text" name="streetAddress" placeholder="Elmstreet 5">
    </div>
    <div class="inputWrapper ctaWrapper">
      <button type="submit" class="cta blue">Go!</button>
    </div>
  </form>
</div>