<h1>Awesome Pizza</h1>
<h2>Order online - simple and satisfying</h2>

<div class="blurb">
  Order your pizza online. Lorem ipsum dolor sit amet consectetur adipisicing
  elit. Alias quod autem, ratione necessitatibus minus deleniti libero facere
  maiores vel animi. Doloremque, quas non. Quos accusantium cumque labore.
  Minima, eaque magnam.
</div>

<div class="ctaWrapper">
  <a class="cta green" href="account/create">Get Started</a>
  <a class="cta blue" href="session/create">Login</a>
</div>
