<h1>Pizza Menu</h1>
<h2>Find something delicious?</h2>

<div class="pizza-container">
  <div class="column">
    <div class="title">Capricciosa</div>
    <img src="/public/capri.png" class="image" />
    <div class="bottom-banner">
      <div class="price">$5</div>
      <button class="add-to-cart">Add</button>
    </div>
  </div>
  <div class="column">
    <div class="title">Hawaii</div>
    <img src="/public/capri.png" class="image" />
    <div class="bottom-banner">
      <div class="price">$6</div>
      <button class="add-to-cart">Add</button>
    </div>
  </div>
  <div class="column">
    <div class="title">Margarita</div>
    <img src="/public/capri.png" class="image" />
    <div class="bottom-banner">
      <div class="price">$3</div>
      <button class="add-to-cart">Add</button>
    </div>
  </div>
  <div class="column">
    <div class="title">Bosse's Special</div>
    <img src="/public/capri.png" class="image" />
    <div class="bottom-banner">
      <div class="price">$7</div>
      <button class="add-to-cart">Add</button>
    </div>
  </div>
</div>
